# -----------------------------------------------------------------------------
# Visual Studio / Visual Studio Code (VS/VS Code)
# -----------------------------------------------------------------------------
## Build results
**/[Dd]ebug/
**/[Rr]elease/
**/[Bb]in/
**/[Oo]bj/
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsp
*.vspscc
*.vssscc
*.bak
# Visual Studio 2022
.vs/
# Visual Studio 2019/2017/2015
[Ss]olution[Ii]tems/
[Ee]xport[Ss]ources/
*.csproj.user
*.vcxproj.user

# -----------------------------------------------------------------------------
# Package Management
# -----------------------------------------------------------------------------
## NuGet
# Build packages and cache files
packages/
*.nupkg
# NuGet V3 cache folder (added by Visual Studio 2017)
.nuget/
# The directory where NuGet packages are restored
!packages/
!**/packages/**/*.nupkg
# Exclude the restore output folder
**/RestoreOutput/
# NuGet tool folder
.tools/

# -----------------------------------------------------------------------------
# Misc
# -----------------------------------------------------------------------------
## Logs and Temp files
*.log
*.tmp
*.temp
**/*.resharper
**/*.gcloud
**/*.pubxml
**/*.pubxml.user

## Rider / JetBrains IDEs
.idea/
*.iws
*.iml
*.ipr

## Profiling and Coverage
# Coverage files (e.g. from OpenCover)
*.opencover
# DotCover
*.dcvr
# VSTS code coverage results
*.coverage
*.coveragexml

## Third Party / External
# Node.js modules (if using JS/TS in the project)
node_modules/
# Bicep/ARM deployment output files
*.bicep.out

# -----------------------------------------------------------------------------
# Source Control-specific
# -----------------------------------------------------------------------------
# Git history and configuration for submodule
.git/